@font-face {
	font-family: 'Roboto Mono';
	font-weight: 700;
	src: url('../../shared/assets/fonts/RobotoMono-Bold.woff2');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 300;
	src: url('../../shared/assets/fonts/RobotoMono-Regular.woff2');
}
