.header {
	width: 100%;

	background: rgb(226, 226, 226);
	border-bottom: 1px solid rgb(100, 100, 100);
	padding: 10px;

	position: absolute;
	top: 0;
	left: 0;

	&__logo {
		font-size: 1.2rem;
		font-family: 'Roboto Mono', monospace;
		font-weight: 700;
	}
}
